html {
    font-size: 16px;
}
main {
    height: 100%;
    width: 100%;
    /* margin: 1rem; */
}

table {
    margin: 1rem auto 1rem auto;
    width: 100%;
}

th {
    background-color: #ddd;
}

th, td {
    text-align: center;
    padding: 2rem 0;
}

@media (max-width: 480px) {
    html {
        font-size: 16px;
    }
    table{
        width: 100%;
    }
    td, table td a {
        font-size: 0.9rem;
    }

}
