html {
    font-size: 16px;
}

main {
    font-size: 1.5rem;
}
.separador {
    width: 100%;
    height: 1rem;
    background-color: var(--fondo-contenedor);
    margin: 1rem 0;
}

p {
    margin: 0.5rem 0;
}

table{
    margin: 1rem 0;
    width: 50% ;
    border: 1px solid var(--borde);
}

th, td {
    padding: 1rem 0;
    text-align: center;
    background-color: var(--fondo-claro);
    border: 1px solid var(--borde);
}

th {
    background-color: var(--fondo-contenedor);
}


@media (max-width: 768px) {
    html {
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }

    main {
        padding: 0.2rem;
        text-align: justify;
        width: 100vw;
    }
    main h1 {
        font-size: 3rem;
    }
    table {
        width: 100%;
    }
}
