html {
    font-size: 16px;
}

.separador {
    width: 100%;
    height: 1rem;
    background-color: #ddd;
    margin: 1rem 0;
}

p {
    margin: 0.5rem 0;
}


@media (max-width: 768px) {
    html {
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }

    main {
        padding: 0.5rem;
        text-align: justify;
        width: 100vw;
    }
    main h1 {
        font-size: 3rem;
    }
}
