{% extends 'base.html' %}
{% load static %}

{% block css_secundario %}
    <link rel="stylesheet" href="{% static 'cuenta/compartido.css' %}">

{% endblock%}


{% block main %}
    <ul class="ul_contenedor2">
        {% for clave, valor in opciones.items %}
            <li 
                {% if not valor.2 %}
                    id="seleccionado"
                {% endif %}
                >
            {% if valor.2 %}
                <a href="
                {% if not valor.1 %}
                    #
                {% else %}
                    {% url valor.1 %}
                {% endif %}"
                >
                    {{ valor.0 }}
                </a>
            {% else %}
                {{ valor.0 }}
            {% endif %}
            </li>
        {% endfor %}
    </ul>

    <section>
        <h2>Configurar aspecto</h2>
        <button id="cambio_de_modo">Cambiar modo</button>
    </section>
{% endblock %}
