{% extends "base.html" %}
{% load static %}

{% block css_secundario %}
<link rel="stylesheet" href="{% static 'cuenta/compartido.css' %}">
<link rel="stylesheet" href="{% static 'cuenta/config_perfil.css' %}">
{% endblock %}

{% block main %}
<!-- 1 - turnos, 2 - historia clinica, 3 - configuracion medica, 4 - configuracion de perfil, 5 - aspecto, 6 - ajuste de contenido, 7 - acerca de-->
    <ul class="ul_contenedor2">
        <li><a href="{% url 'cuenta:config_perfil' %}">Configuracion de perfil</a></li>
        <li id="seleccionado">Configuración medica</li>
        <li><a href="{% url 'cuenta:turnos' %}">Turnos</a></li>
        <li><a href="{% url 'cuenta:historia_clinica' %}">Historia clinica</a></li>
        <li><a href="#">aspecto</a></li>
        <li><a href="#">acerca de</a></li>
        

    </ul>
    
    <form method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Ubicación del médico</legend>

        <label for="localidad">Localidad:</label>
        <select name="localidad" id="localidad">
            <option value="">Seleccionar localidad</option>
            {% for loc in localidades %}
                <option value="{{ loc.id }}" {% if medico.localidad and medico.localidad.id == loc.id %}selected{% endif %}>
                    {{ loc.nombre }}
                </option>
            {% endfor %}
        </select>

        <label for="gobierno_local">Gobierno Local:</label>
        <select name="gobierno_local" id="gobierno_local">
            <option value="">Seleccionar gobierno local</option>
            {% for gob in gobiernos %}
                <option value="{{ gob.id }}" {% if medico.gobierno_local and medico.gobierno_local.id == gob.id %}selected{% endif %}>
                    {{ gob.nombre }}
                </option>
            {% endfor %}
        </select>

        <input type="submit" value="Actualizar ubicación">
    </fieldset>
</form>
{% endblock %}
