{% extends "base.html" %}
{% load static %}

{% block css_secundario %}
<link rel="stylesheet" href="{% static 'cuenta/compartido.css' %}">
<link rel="stylesheet" href="{% static 'cuenta/config_perfil.css' %}">
{% endblock %}

{% block main %}
<ul class="ul_contenedor2">
    <li><a href="{% url 'cuenta:config_perfil' %}">Configuracion de perfil</a></li>
    <li id="seleccionado">Configuración medica</li>
    <li><a href="{% url 'cuenta:turnos' %}">Turnos</a></li>
    <li><a href="#">aspecto</a></li>
    <li><a href="#">acerca de</a></li>
</ul>

<form method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Ubicación del médico</legend>

        <!-- PROVINCIA -->
        <label for="provincia">Provincia:</label>
        <select id="provincia">
            <option value="">Seleccionar provincia</option>
            {% for p in provincias %}
                <option value="{{ p.id_indec }}">{{ p.nombre }}</option>
            {% endfor %}
        </select>

        <!-- DEPARTAMENTO -->
        <label for="departamento">Departamento:</label>
        <select id="departamento" name="departamento">
            <option value="">Seleccionar departamento</option>
        </select>

        <!-- LOCALIDAD -->
        <label for="localidad">Localidad:</label>
        <select id="localidad" name="localidad">
            <option value="">Seleccionar localidad</option>
        </select>

        <input type="submit" value="Actualizar ubicación">
    </fieldset>
</form>
{% endblock %}

{% block js %}
<script src="{% static 'cuenta/config_medico.js' %}"></script>
{% endblock %}
