{% extends "base.html" %}
{% load static %}

{% block css_secundario %}
<link rel="stylesheet" href="{% static 'cuenta/compartido.css' %}">
{% endblock %}

{% block main %}
<button id="toggleMenu2" class="mobile-only">Opciones</button>
<ul class="ul_contenedor2" id="menu2" >
    {% for clave, valor in opciones.items %}
        {% if valor.0 and user.tipo_cuenta == "paciente" %}
        {% else %}
            {% if valor.3 %}
                <a href="
                {% if not valor.2 %}
                    #
                {% else %}
                    {% url valor.2 %}
                {% endif %}
                ">
                    {{ valor.1 }}
                </a>
            {% endif %}
            {% if not valor.3 %}
                <span id="seleccionado">{{ valor.1 }}</span>
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>

<form method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Ubicación del médico</legend>

        <!-- PROVINCIA -->
        <label for="provincia">Provincia:</label>
        <select id="provincia">
            <option value="">Seleccionar provincia</option>
            {% for p in provincias %}
                <option value="{{ p.id_indec }}">{{ p.nombre }}</option>
            {% endfor %}
        </select>

        <!-- DEPARTAMENTO -->
        <label for="departamento">Departamento:</label>
        <select id="departamento" name="departamento">
            <option value="">Seleccionar departamento</option>
        </select>

        <!-- LOCALIDAD -->
        <label for="localidad">Localidad:</label>
        <select id="localidad" name="localidad">
            <option value="">Seleccionar localidad</option>
        </select>

        <input type="submit" value="Actualizar ubicación">
    </fieldset>
</form>
<hr>

<form method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Horarios laborales</legend>

        {{ horario_form.as_p }}

        <button type="submit" name="nuevo_horario">Agregar horario</button>
    </fieldset>
</form>

<hr>

<h3>Horarios ya cargados</h3>
<ul>
    {% for h in horarios %}
        <li>
            <strong>{{ h.lugar }}</strong> — {{ h.get_dia_display }}:
            {{ h.hora_inicio }} a {{ h.hora_fin }} (cada {{ h.tiempo_turno }})
        </li>
    {% empty %}
        <p>No hay horarios cargados aún.</p>
    {% endfor %}
</ul>

{% endblock %}

{% block js %}
<script src="{% static 'cuenta/config_medico.js' %}"></script>
<script src="{% static 'principal/navbar.js' %}"></script>
{% endblock %}
