{% extends "base.html" %}
{% load static %}

{% block css_secundario %}
<link rel="stylesheet" href="{% static 'cuenta/compartido.css' %}">
<link rel="stylesheet" href="{% static 'cuenta/config_perfil.css' %}">
{% endblock %}

{% block main %}
    <button id="toggleMenu2" class="mobile-only">Opciones</button>
    <ul class="ul_contenedor2" id="menu2" >
        {% for clave, valor in opciones.items %}
            {% if valor.0 and user.tipo_cuenta == "paciente" %}
            {% else %}
                {% if valor.3 %}
                    <a href="
                    {% if not valor.2 %}
                        #
                    {% else %}
                        {% url valor.2 %}
                    {% endif %}
                    ">
                        {{ valor.1 }}
                    </a>
                {% endif %}
                {% if not valor.3 %}
                    <span id="seleccionado">{{ valor.1 }}</span>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
    <main>
        
        {% if errors %}
        <p>{ errors.error }</p>        
        {% endif %}
        
        <h2>Usuario: {{ user.username }}</h2>
        <h3>Nombre y apellido: {{ user.first_name }} {{ user.last_name }}</h3>
    </main>

{% endblock %}
