{% extends "base.html" %}
{% load static %}

{% block css_secundario %}
<link rel="stylesheet" href="{% static 'cuenta/turnos.css' %} ">
<link rel="stylesheet" href="{% static 'cuenta/compartido.css' %}">
<link rel="stylesheet" href="{% static 'cuenta/config_perfil.css' %}">
{% endblock %}

{% block main %}
<!-- 1 - turnos, 2 - configuracion del perfil, 3 - configuracion medica, 4 - historia clinica, 5 - ...-->
    <ul class="ul_contenedor2">
        <li><a href="{% url 'cuenta:config_perfil' %}">Configuracion de perfil</a></li>
        
        {% if user.tipo_cuenta == 'medico' %}
        <li><a href="{% url 'cuenta:config_medica' %}">Configuración medica</a></li>
        {% endif %}

        <li id="seleccionado">Turnos</li>
        <li><a href="{% url 'cuenta:historia_clinica' %}">Historia clinica</a></li>
        <li><a href="#">aspecto</a></li>
        <li><a href="#">acerca de</a></li>
        

    </ul>
    

    <main>
        <h2>Turnos reservados</h2>
        <table border="1" cellspacing="0" cellpadding="10" align="center">
            <thead>
                <tr>
                    <th>Medico</th>
                    <th>Dia</th>
                    <th>Hora</th>
                    <th>Atendido</th>
                </tr>
            </thead>
            <tbody>

                {% for j in turnos %}
                <tr>
                    {% if j.medico %}
                    <td>{{ j.medico.usuario.first_name }}</td>
                    {% endif %}
                    {% if j.fecha %}
                    <td>{{ j.fecha.date }}</td>
                    <td>{{ j.fecha.time }}</td>
                    {% endif %}
                    <td>True/False</td>
                </tr>
                <div>
                </div>
            </tbody>
                {% endfor %}
        </table>
        
    </main>

    {% if errors %}
        <p>{ errors.error }</p>        
    {% endif %}
{% endblock %}