{% extends "base.html" %}
{% load static %}

{% block css_secundario %}
<link rel="stylesheet" href="{% static 'cuenta/turnos.css' %} ">
<link rel="stylesheet" href="{% static 'cuenta/compartido.css' %}">
<link rel="stylesheet" href="{% static 'cuenta/config_perfil.css' %}">
{% endblock %}

{% block main %}
<!-- 1 - turnos, 2 - historia clinica, 3- configuracion medica, 4- configuracion del perfil, 5 - mi historia, 6 - apecto, 7 - acerca de¿-->
    <ul class="ul_contenedor2">
        {% for clave, valor in opciones.items %}
            <li 
                {% if not valor.2 %}
                    id="seleccionado"
                {% endif %}
                >
            {% if valor.2 %}
                <a href="
                {% if not valor.1 %}
                    #
                {% else %}
                    {% url valor.1 %}
                {% endif %}"
                >
                    {{ valor.0 }}
                </a>
            {% else %}
                {{ valor.0 }}
            {% endif %}
            </li>
        {% endfor %}
    </ul>
    

    <main>
        <h2>Turnos reservados</h2>
        {% if reserva %}
        <table border="1" cellspacing="0" cellpadding="10" align="center">
            <thead>
                <tr>
                    <th>Medico</th>
                    <th>Dia</th>
                    <th>Hora</th>
                    <th>Atendido</th>
                </tr>
            </thead>
            <tbody>

                {% for j in turnos %}
                <tr>
                    {% if j.medico and j.fecha %}
                    <td>{{ j.medico.usuario.first_name }}</td>
                    <td>{{ j.fecha.date }}</td>
                    <td>{{ j.fecha.time }}</td>
                    {% else %}
                    <p></p>
                    {% endif %}
                    <td>True/False</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>Usted no ha reservado turnos</p>
        {% endif %}

    </main>

    {% if errors %}
        <p>{ errors.error }</p>        
    {% endif %}
{% endblock %}