{% extends "base.html" %}
{% load static %}

{% block css_secundario %}
<link rel="stylesheet" href="{% static 'principal/principal.css' %}">
{% endblock %}

{% block main %}
<div class="div_contenedor">
    
    <!-- BARRA LATERAL -->
    <aside class="barra_lateral">
        <h2>Panel de publicidad y noticias</h2>
        <ul>
            <li>Agrega anuncio aquí</li>
            <li>Agrega anuncio aquí</li>
            <li>Agrega anuncio aquí</li>
            <li>Agrega anuncio aquí</li>
            <li>Agrega anuncio aquí</li>
        </ul>
    </aside>
    
    <!-- BLOQUE DE FILTRO Y LISTA DE MÉDICOS -->
    <div class="pagina">
        <div class="panel-medico">
            <h2>Lista de Médicos</h2>
            
            <!-- FORMULARIO DE FILTRO -->
            <form method="GET" id="form-filtro">
                <label>Provincia:</label>
                <select id="provincia" name="provincia">
                    <option value="">Todas</option>
                    {% for p in provincias %}
                    <option value="{{ p.pk }}">{{ p.nombre }}</option>
                    {% endfor %}
                </select>
                
                <label>Departamento:</label>
                <select id="departamento" name="departamento">
                    <option value="">Todos</option>
                </select>
                
                <label>Localidad:</label>
                <select id="localidad" name="localidad">
                    <option value="">Todas</option>
                </select>
                
                <button type="submit">Filtrar</button>
            </form>
            
            <hr>
            
            <h2>Médicos encontrados:</h2>
            
            <ul>
                {% for m in medicos %}
                <li>
                    {{ m.usuario.get_full_name }} — 
                    {{ m.especialidad }} —
                    {{ m.localidad.nombre }} ({{ m.localidad.departamento.provincia.nombre }}) -
                    <a href="{% url 'principal:perfil_medico' m.id%}">Ver perfil</a>
                </li>
                {% empty %}
                <p>No se encontraron médicos.</p>
                {% endfor %}
            </ul>
            
            
            
            {% endblock %}
            
            
            {% block div %}
            <script src="{% static 'principal/filtro_medicos.js' %}"></script>
            {% endblock %}
