{% extends "base.html" %}
{% load static %}

{% block css_secundario %}
    <link rel="stylesheet" href="{% static 'turno/calendario.css' %}">
{% endblock %}

{% block main %}
    <main>
        <h2 class="text-center">Calendario de Turnos - {{ medico.usuario.first_name }}</h2>
        <h2>Mes {{ mes }} </h2>

        <table border="1" cellspacing="0" cellpadding="10" align="center">
            <thead>
                <tr>
                    <th>Lun</th>
                    <th>Mar</th>
                    <th>Mié</th>
                    <th>Jue</th>
                    <th>Vie</th>
                    <th>Sáb</th>
                    <th>Dom</th>
                </tr>
            </thead>
            <tbody>
                {% for semana in calendario %}
                    <tr>
                        {% for celda in semana %}
                            {% if celda.date %}
                                <td style="vertical-align: top; text-align: center; background-color: {{ celda.color }}">
                                    <a href="{% url 'turno:crear_turno' celda.date.year celda.date.month celda.date.day %}">
                                        <strong>{{ celda.date.day }}</strong>
                                    </a>
                                    <br>
                                    {% if celda.weekday == dia %}
                                        <small>{{ inicio|time:"H:i" }} - {{ fin|time:"H:i" }}</small>
                                    {% else %}
                                        <small>No trabaja</small>
                                    {% endif %}
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
