h2 {
    margin-top: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

fieldset {
    width: 350pt;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ddd;
    border-color: #555;
    border-style: solid;
}

input {
    width: 95%;
    height: 35pt;
    margin-top: 5pt;
    margin-bottom: 5pt;
    text-align: center;
}

button {
    width: 40%;
    height: 35pt;
    margin-top: 5pt;
    margin-bottom: 10pt;
}

#id_username {
    margin-top: 10pt;
}

input, button {
    border: 2px solid #777;
    border-radius: 3pt;
}

button:hover {
    background-color: #ddd;
    border-color: #555;
    color: #444;
}

/* colores */

fieldset {
    background-color: var(--fondo-claro);
    border-color: var(--fondo-contenedor);
}

button {
    background-color: var(--borde);
    border-color: var(--fondo-contenedor);
}

@media (max-width: 480px) {
    fieldset {
        width: 100%;
    }
}