/* Quitar las flechas */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* ################################################## */

h2 {
    margin-top: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: 350pt;
    border: 2pt solid #555;
    align-items: center;
}

.campos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input, select {
    border-style: solid;
    width: 95%;
    height: 35pt;
    font-size: 80%;
    border-radius: 3pt;
    text-align: center;
}

button, .campo-dni {
    width: 40%;
    height: 35pt;
    border: 2px solid #777;
    border-radius: 3pt;
}

#id_first_name, #id_last_name {
    width: 48%;
}

#nombre-apellido {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

button, input, select, .campo-dni {
    margin-bottom: 10pt;
}

#id_tipo_cuenta {
    margin-top: 10pt;
    border: 2px solid #777;
}

label {
    color: black;
}

#id_foto_dni {
    display: none;
}

.campo-dni {
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.campo-dni:hover, button:hover {
    background-color: #ddd;
    border-color: #555;
    color: #444;
}


/* colores */

fieldset {
    background-color: var(--fondo-claro);
    border-color: var(--fondo-contenedor);
}

button {
    background-color: var(--borde);
    border-color: var(--fondo-contenedor);
}

@media (max-width: 480px) {
    fieldset {
        width: 100%;
    }
}