/* Quitar las flechas */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* ################################################## */


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 1rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: 350pt;
    background-color: #ddd;
    border: 2pt solid #000;
}

.campos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input, select {
    border-style: solid;
    width: 95%;
    height: 35pt;
    text-align: center;
    font-size: 80%;
    border-radius: 5px;
}

button {
    width: 40%;
    height: 35pt;
}

#id_first_name, #id_last_name {
    width: 48%;
}

#nombre-apellido {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

button, input, select {
    margin-bottom: 10pt;
}

#id_tipo_cuenta {
    margin-top: 10pt;
}

label {
    color: black;
}

#id_foto_dni {
    display: flex;
    justify-content: center;
    align-items: center;
}