form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #ddd;
}

.campos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem 1rem 1rem;
    width: 100%;
}

input, select {
    width: 80%;
    height: 3rem;
    text-align: center;
    font-size: 80%;
}

button {
    width: 10rem;
    height: 3em;
    margin-bottom: 1rem;
}

#id_first_name, #id_last_name {
    width: 48%;
}

#nombre-apellido {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 1rem 1rem 1rem;
}

#id_tipo_cuenta {
    margin-top: 1rem;
}

label {
    color: black;
}