html {
    font-size: 16px;
}

main {
    text-align: center;
}

main h1 {
    margin: 2rem 0;
}

table{
    width: 50% ;
    margin: auto;
    border: 1px solid var(--borde);
}

th, td {
    padding: 2rem 0;
    text-align: center;
    background-color: var(--fondo-claro);
    border: 1px solid var(--borde);
}

th {
    background-color: var(--fondo-contenedor);
}


@media (max-width: 480px) {
    html {
        font-size: 16px;
    }
    table{
        width: 100%;
    }
}