html {
    font-size: 16px;
}


main, html {
    width: 100%;
    height: 100%;
}

.texto_arriba {
    text-align: center;
    margin: 1rem 0px;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black
}

table{
    margin: auto;
    width: 100% ;
    height: 50% ;
    border-color: #000;
}

th, td {
    padding: 2rem 0;
    border: 1px solid black
}

table a, small {
    font-size: 2rem;
    text-align: center;
}


@media (max-width: 480px) {
    html {
        font-size: 11px;
    }
    table {
        height: auto;;
    }
    small{
        display: none;
        font-size: 0.9rem;;
    }
}