html {
    font-size: 16px;
}


main, html {
    width: 100%;
    height: 100%;
}


a {
    text-decoration: none;

}
a:visited {
    color: blue
}

table{
    margin: auto;
    width: 100% ;
    height: 50% ;
}

th, td {
    /* width: 50px ; 
    height: 50px ; */
    padding: 2rem 0;
}

table a, small {
    font-size: 2rem;
    text-align: center;
}
/* 
td {
    background-color: gray;
} */