html {
    font-size: 16px;
}

main {
    text-align: center;
    margin: 0.5rem;
}

main h1 {
    margin: 2rem 0;
}

table{
    margin: auto;
    width: 30% ;
}

th, td {
    padding: 2rem 0;
    text-align: center;
}

th {
    background-color: #ddd;
}

#label {
    width: 75%;
}

main input {
    color: #48b36b;

}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ddd;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
    width: 30%;
    text-align: center;
    margin: 1rem 0;
}

@media (max-width: 480px) {
    html {
        font-size: 10px;
    }
    table, .btn {
        width: 100%;
    }

}