html {
    font-size: 16px;
}

main {
    text-align: center;
    margin: 0.5rem;
}

main h1 {
    margin: 2rem 0;
}

table{
    margin: auto;
    width: 30% ;
    border-color: black;
}

th, td {
    padding: 2rem 0;
    text-align: center;
}


#label {
    width: 75%;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    width: 30%;
    text-align: center;
    margin: 1rem 0;
}

@media (max-width: 480px) {
    html {
        font-size: 14px;
    }
    table, .btn {
        width: 100%;
    }

}