* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
}

:root {
    --fondo: white;
    --texto: black;
}

.modo_oscuro {
    --fondo: #121212;
    --texto: #e6e6e6;
}

body {
    background-color: var(--fondo);
    color: var(--texto);
    transition: background-color 0.3s, color 0.3s;
}

.out_header {
    margin-top: 95px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.nav_contenedor {
    width: 100%;
    display: flex;
    justify-content: flex-end; /* los links al final del nav */
    padding: 10px 20px;
    background-color: #ddd;
}

.ul_contenedor {
    display: flex;
    gap: 20px; /* espacio entre cada li */
    margin: 0;
    padding: 0;
    list-style: none;
}

.ul_contenedor li a {
    padding: 5px 10px;
    text-decoration: none;
    color: #000;
}

.ul_contenedor li a:hover {
    color: #555; /* efecto hover */
}

.slogan_contenedor {
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

.ul_contenedor_2 {
    padding: 0;
}

header {
    /* width: 100%;
    height: 100%; */
    display: flex;
    background-color: #fff;
}

header div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul, li {
    padding: 10px;
    border-radius: 10px;
}



/* menu interactivo */

.menu-content {
    position: absolute;
    background-color: #ddd;
    border: 2px solid #555;
    border-top: 0;
    border-radius: 0px 0px 10px 10px;
    padding: 5px 0;
    z-index: 1;
    opacity: 0;
    transform: translateY(-25px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#perfil,
.logout-btn {
    text-align: left;
    text-decoration: none;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

/* Muestra el menú cuando se pasa el mouse */
.menu:hover .menu-content {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

#perfil {
    position: relative;
    z-index: 2;
    background-color: #ddd;
    height: 100%;
}

footer {
    width: 100%;
    margin-top: auto;
}


/* Botón hamburguesa oculto en desktop */
.toggle-button {
    color: black;
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}


@media (max-width: 480px) {
    .toggle-button {
        display: flex;
        flex-direction: column;
        width: 25px;        /* ancho del botón */
        height: 20px;       /* alto total del botón */
        cursor: pointer;
        padding: 0;
    }
    
    .toggle-button span {
        display: block;
        height: 3px;            /* grosor de cada barra */
        width: 90%;            /* ancho completo del botón */
        background-color: #000; /* color de las barras */
        border-radius: 2px;
        margin: 1.5px;
    }

        .nav-links {
        display: none;
        width: 100%;
    }

    .nav-links ul {
        flex-direction: column;
        width: 100%;
    }

    .nav-links li {
        text-align: center;
        padding: 0.5rem 0
    }

    .nav-links.active {
        display: flex;
    }
}