html {
    font-size: 16px;
    margin: 3px;
}

.separador {
    height: 1rem;
    background-color: #ddd;
    margin: 1rem 0;
}

.texto {
    margin: 0 1rem;
}

main ul {
    padding: 0px 2rem;
}

main h1 {
    text-align: center;
    margin: 3rem;
}

main {
    font-size: 2rem;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ddd;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
    width: auto;
    text-align: center;
    margin: 1rem 0;
}



@media (max-width: 768px) {
    html {
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }

    main h1 {
        font-size: 3rem;
    }
    .btn {
        width: 100%;
    }
}
