.barra_lateral {
    width: 250px;
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px; /* espacio entre li */
    height: 100%;
    position: absolute;
    right: 0;
}

.panel-medico h2 {
    text-align: center;
    background-color: #ccc;
}

.medico {
    border: 2px solid #ccc;
    width: 100%;
}

.panel-medico a {
    width: 30%;
}

.panel-medico {
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 700pt;
    margin-top: 2em;
}

.ul-medicos {
    display: flex;
    justify-content: space-evenly;
}

.pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-right: 250px;
}

.div_contenedor {
    display: flex;
    justify-content: space-between;
    height: 100%;
}