/* .barra_lateral {
    width: 250px;
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px; /* espacio entre li *
    height: 100%;
    position: absolute;
    right: 0; */

:root {
    --fondo: white;
    --texto: black;
    --fondo-contenedor: #5c8abc;
    --fondo-claro: #EAF5FB;
    --borde: #A9C8DA;
    --texto-a: #4B3C8C;
}

html  {
    font-size: 16px;
}

h2 {
    padding: 0.1em 0;
}
.panel-medico h2 {
    text-align: center;
    background-color: var(--fondo-contenedor);
}

/* .medico {
    border: 2px solid #ccc;
    width: 100%;
    */

.panel-medico a {
    color: var(--texto-a);
}  

.panel-medico {
    border: 2px solid var(--borde);
    border-radius: 10px;
    width: 80%;
    margin-top: 2em;
    background-color: var(--fondo-claro);
}

.ul-medicos {
    display: flex;
    justify-content: space-evenly;
}

.pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* margin-right: 250px; */
}

.div_contenedor {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

#form-filtro {
    padding: 0.5rem 0;
}

#form-filtro label {
    margin-left: 0.5rem;
}

#form-filtro button {
    display: inline-block;
    padding: 1px 2px;
    background-color: var(--borde);
    color: black;
    border: 2px solid var(--borde);
    border-radius: 5px;
    text-decoration: none;
    width: 7%;
    text-align: center;
    margin: 0 1rem;
}

table {
    width: 100%;
    margin: auto;
    border: 0;
}
th, td {
    border: 1px solid var(--borde);
    text-align: center;
    padding: 0.5rem 0.2rem;
}
th {
    background-color: var(--fondo-contenedor);
}

@media (max-width: 480px) {
    html {
        font-size: 14px;
    }
    .panel-medico {
        width: 100%;
        margin-top: 0;
    }
    #form-filtro {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
    }
    #form-filtro select{
        width: 80%;
    }
    #form-filtro label {
        margin: 0.5rem 0;
    }
    #form-filtro button {
        width: 30%;
        /* margin: auto; */
        margin: 0.5rem auto 0 auto;
    } 
    ul {
        font-size: 1.2rem;
    }
}